<!-- TITLE -->
<div style="width: 100%; margin: auto">
    <h1 class="text-5xl antialiased font-sans font-semibold text-center mb-8 mt-14 mx-auto text-amber-700 drop-shadow-xl hover:animate-pulse cursor-default">
        <fa-icon [icon]="faChartLine" class="animate-bounce"></fa-icon>
        Crypto-Tracker
    </h1>
</div>

<div id="container" class="subpixel-antialiased select-none">
    <h2 class="text-gray-300 mb-3 text-lg">
        <fa-icon [icon]="faMagnifyingGlass" class="text-amber-600"></fa-icon> Search your favourite Crypto!
    </h2>
    <!-- SEARCH BAR -->
    <input style="min-width: 440px; max-width: 600px;" [(ngModel)]="searchCoinText" id="search" placeholder="Enter the token's name or symbol" class="px-4 py-2 w-6/12" (keyup.enter)="search()">
    <!-- NO RESULTS -->
    <div *ngIf="notFound" class="text-amber-700 text-center mt-8 w-60 mx-auto">Sorry, No results found
        <fa-icon [icon]="faFaceFrown"></fa-icon>
    </div>
    <!-- SEARCHING ANIMATION -->
    <div class="scale-75">
        <div *ngIf="isSearching" class="lds-facebook block mx-auto">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- SEARCHED COINS TABLE -->
    <div *ngIf="searched" class="table w-5/12 mt-2 rounded-md overflow-hidden mx-auto shadow-2xl" id="coinList" style="max-width: 100%;">
        <!-- SEARCHED COINS TABLE HEADERS -->
        <tr *ngIf="searched" class="mt-5 text-md text-left mx-auto relative">
            <th>
                <!-- RESULTS -->
                <div *ngIf="!notFound && searched" class="text-amber-700 text-left mt-8 pb-2 mx-auto">
                    {{searchedCoins.length}} coins founded!
                </div>
            </th>
            <th></th>
            <th class="text-right">
                <!-- REFRESH BUTTON -->
                <button (click)="resetSearch()" class="mr-2 text-amber-700 hover:text-amber-500 cursor-pointer active:text-amber-100 font-thin">
                    <fa-icon [icon]="faXmark">
                    </fa-icon> Clear
                </button>
            </th>
        </tr>
        <tr class="bg-amber-700">
            <td class="rounded-l-md rounded-b-none">Symbol</td>
            <td>Name</td>
            <td class="rounded-r-md rounded-b-none">Rank</td>
        </tr>
        <tr *ngFor="let coin of searchedCoins" class="text-gray-300 hover:bg-gray-700 cursor-pointer max-h-2" routerLink="/crypto-details" [state]="coin">
            <!-- SYMBOL + LOGO  -->
            <td style="min-width: 200px; width: 210px; padding-inline: 0;">
                <div style="text-align: left;">
                    <div style="margin-left: 15px;"><img src="{{coin.large}}" width="30px" class="inline mr-1 ml-10"> {{coin.symbol | uppercase}}</div>
                </div>
            </td>
            <!-- NAME -->
            <td>{{coin.name}}</td>
            <!-- RANK -->
            <td [ngClass]="{ 'glow-1 text-amber-300 subpixel-antialiased' : coin.market_cap_rank == 1, 'glow-2 text-stone-400 brightness-95 subpixel-antialiased' : coin.market_cap_rank == 2,  'glow-3 text-amber-600 subpixel-antialiased' : coin.market_cap_rank == 3}">
                <div *ngIf="coin.market_cap_rank>0">{{coin.market_cap_rank}}º</div>
                <div *ngIf="!(coin.market_cap_rank>0)" class="text-gray-400">unknown</div>
            </td>
        </tr>
    </div>
    <!-- TABLE TOP 100 -->
    <div *ngIf="!isLoading" class="table mt-14 rounded-md overflow-hidden mx-auto shadow-xl">
        <!-- FILTER AND REFRESH -->
        <tr class="text-amber-600 text-md text-left m-auto relative">
            <th class="pb-2 pl-2">
                Top 100
                <fa-icon [icon]="faRankingStar"></fa-icon>
            </th>
            <th class="pb-4">
                <!-- FILTER TOP 100 -->
                <input type="text" [(ngModel)]="searchText" class="bg-transparent outline-0 border border-amber-600 ml-4 px-1 py-1 text-xs font-thin placeholder-amber-700 border-t-0 border-r-0 border-l-0" placeholder="Filter:">
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th>
                <!-- REFRESH BUTTON -->
                <button (click)="refresh()">
                    <fa-icon [icon]="faArrowsRotate"
                        class="absolute bottom-3 right-1 hover:text-amber-400 cursor-pointer active:text-amber-100">
                    </fa-icon>
                </button>
            </th>
        </tr>
        <!-- TABLE HEADERS -->
        <tr class="bg-amber-700">
            <td (click)="orderCoins(); colname='rank'" class="rounded-l-md rounded-b-none hover:bg-amber-600 cursor-pointer">Rank
                <div class="inline-flex ml-1 mb-3">
                    <fa-icon [icon]="faSortUp" class="text-xs" [ngClass]="{'text-gray-300': colname.localeCompare('rank') == 0 && ordered}" style="position: absolute;"></fa-icon>
                    <fa-icon [icon]="faSortDown" class="text-xs" [ngClass]="{'text-gray-300': colname.localeCompare('rank') == 0 && !ordered}" style="position: absolute;"></fa-icon>
                </div>
            </td>
            <td (click)="orderCoins(); colname='symbol'" class="hover:bg-amber-600 cursor-pointer">Symbol
                <div class="inline-flex ml-1 mb-3">
                    <fa-icon [icon]="faSortUp" class="text-xs" [ngClass]="{'text-gray-300': colname.localeCompare('symbol') == 0 && ordered}" style="position: absolute;"></fa-icon>
                    <fa-icon [icon]="faSortDown" class="text-xs" [ngClass]="{'text-gray-300': colname.localeCompare('symbol') == 0 && !ordered}" style="position: absolute;"></fa-icon>
                </div>
            </td>
            <td (click)="orderCoins(); colname='name'" class="hover:bg-amber-600 cursor-pointer">Name
                <div class="inline-flex ml-1 mb-3">
                    <fa-icon [icon]="faSortUp" class="text-xs" [ngClass]="{'text-gray-300': colname.localeCompare('name') == 0 && ordered}" style="position: absolute;"></fa-icon>
                    <fa-icon [icon]="faSortDown" class="text-xs" [ngClass]="{'text-gray-300': colname.localeCompare('name') == 0 && !ordered}" style="position: absolute;"></fa-icon>
                </div>
            </td>
            <td (click)="orderCoins(); colname='price'" class="hover:bg-amber-600 cursor-pointer">Price
                <div class="inline-flex ml-1 mb-3">
                    <fa-icon [icon]="faSortUp" class="text-xs" [ngClass]="{'text-gray-300': colname.localeCompare('price') == 0 && ordered}" style="position: absolute;"></fa-icon>
                    <fa-icon [icon]="faSortDown" class="text-xs" [ngClass]="{'text-gray-300': colname.localeCompare('price') == 0 && !ordered}" style="position: absolute;"></fa-icon>
                </div>
            </td>
            <td (click)="orderCoins(); colname='market-cap'" class="hover:bg-amber-600 cursor-pointer">Market Cap
                <div class="inline-flex ml-1 mb-3">
                    <fa-icon [icon]="faSortUp" class="text-xs" [ngClass]="{'text-gray-300': colname.localeCompare('market-cap') == 0 && ordered}" style="position: absolute;"></fa-icon>
                    <fa-icon [icon]="faSortDown" class="text-xs" [ngClass]="{'text-gray-300': colname.localeCompare('market-cap') == 0 && !ordered}" style="position: absolute;"></fa-icon>
                </div>
            </td>
            <td (click)="orderCoins(); colname='variation'" class="rounded-r-md rounded-b-none hover:bg-amber-600 cursor-pointer focus:text-white" style="min-width: 123px; border-bottom-right-radius: 0px;">24h Variation
                <div class="inline-flex ml-1 mb-3 mr-4">
                    <fa-icon [icon]="faSortUp" class="text-xs" [ngClass]="{'text-gray-300': colname.localeCompare('variation') == 0 && ordered}" style="position: absolute;"></fa-icon>
                    <fa-icon [icon]="faSortDown" class="text-xs" [ngClass]="{'text-gray-300': colname.localeCompare('variation') == 0 && !ordered}" style="position: absolute;"></fa-icon>
                </div>
            </td>
        </tr>
        <tr *ngFor="let coin of coins | coinsFilter: searchText" class="text-gray-300 hover:bg-gray-700 cursor-pointer max-h-2" routerLink="/crypto-details" [state]="coin">
            <!-- RANK -->
            <td style="min-width: 84px;" [ngClass]="{ 'glow-1 text-amber-300 subpixel-antialiased' : coin.market_cap_rank == 1, 'glow-2 text-stone-400 brightness-95 subpixel-antialiased' : coin.market_cap_rank == 2,  'glow-3 text-amber-600 subpixel-antialiased' : coin.market_cap_rank == 3}">
                {{coin.market_cap_rank}}º</td>
            <!-- SYMBOL + LOGO  -->
            <td style="min-width: 190px; padding-inline: 0;">
                <div class="w-3/5 mx-auto text-center">
                    <div class="text-left ml-4"><img src="{{coin.image}}" width="30px" class="inline mr-1"> {{coin.symbol | uppercase}}</div>
                </div>
            </td>
            <!-- NAME -->
            <td style="min-width: 149px;">{{coin.name}}</td>
            <!-- PRICE -->
            <td style="min-width: 110px">{{coin.current_price | number : '1.2-9'}} $</td>
            <!-- MARKET CAP -->
            <td style="min-width: 171px">{{coin.market_cap | number}} $</td>
            <!-- 24H VARIATION -->
            <td [ngClass]=" { 'text-green-500' : coin.price_change_percentage_24h_in_currency> 0, 'text-red-500' : coin.price_change_percentage_24h_in_currency
                < 0} ">
                {{coin.price_change_percentage_24h_in_currency | number : '1.2-2'}} %</td>
        </tr>
    </div>
</div>
<!-- REFRESH ANIMATION -->
<div class="w-2/3 mx-auto text-center">
    <div *ngIf="isLoading" class="lds-dual-ring mt-12 "></div>
</div>