.glow-1 {
    /* color: rgb(255, 208, 0); */
    text-align: center;
    -webkit-animation: glow-1 4s ease-in-out infinite alternate;
    -moz-animation: glow-1 4s ease-in-out infinite alternate;
    animation: glow-1 4s ease-in-out infinite alternate;
}

@keyframes glow-1 {
    from {
        text-shadow: 0 0 0px #fff, 0 0 0.01px rgb(255, 255, 255), 0 0 0.03px #e6cf00, 0 0 0.04px #e6cf00, 0 0 0.1px #e6c400, 0 0 0.3px #e6c400, 0 0 0.6px #e6c400;
    }
    to {
        text-shadow: 0 0 0.5px #fff, 0 0 1px #fcff4d, 0 0 1.5px #ffde4d, 0 0 2px #ffde4d, 0 0 3px #fffc4d, 0 0 4px #fff34d, 0 0 5px #ffed4d;
    }
}

.glow-2 {
    /* color: rgb(255, 208, 0); */
    text-align: center;
    -webkit-animation: glow-2 4s ease-in-out infinite alternate;
    -moz-animation: glow-2 4s ease-in-out infinite alternate;
    animation: glow-2 4s ease-in-out infinite alternate;
}

@keyframes glow-2 {
    from {
        text-shadow: 0 0 0px #fff, 0 0 0.01px rgb(168, 168, 168), 0 0 0.03px #929292, 0 0 0.04px #727272, 0 0 0.1px #858585, 0 0 0.3px #636363, 0 0 0.6px #747474;
    }
    to {
        text-shadow: 0 0 0.5px #fff, 0 0 1px #c0c0c0, 0 0 1.5px #b6b6b6, 0 0 2px #979797, 0 0 3px #949494, 0 0 4px #7e7e7d, 0 0 5px #a3a3a1;
    }
}

.glow-3 {
    /* color: rgb(255, 208, 0); */
    text-align: center;
    -webkit-animation: glow-3 4s ease-in-out infinite alternate;
    -moz-animation: glow-3 4s ease-in-out infinite alternate;
    animation: glow-3 4s ease-in-out infinite alternate;
}

@keyframes glow-3 {
    from {
        /* text-shadow: 0 0 0px rgb(252, 183, 151), 0 0 0.01px rgb(252, 146, 85), 0 0 0.03px #e68a00, 0 0 0.04px #e68200, 0 0 0.1px #e69d00, 0 0 0.3px #e68200, 0 0 0.6px #e68a00; */
    }
    to {
        text-shadow: 0 0 0.1px rgb(252, 181, 116), 0 0 0.5px #fda036, 0 0 1.2px #fd9432, 0 0 1.3px #ffa237, 0 0 2px #fa893e, 0 0 3px #fc922e, 0 0 4px #ffb01d;
    }
}